# Database Configuration (MongoDB)
MONGODB_URI=mongodb://localhost:27017/odin_club

# JWT Configuration
JWT_SECRET=5b1e700a0308faff256145ae425424dbb43aadb8ab6879ad46b16717b65a7060ceadea954ac79ef2333cb80ff85506e6fa6d7b1859b0057b2ed6a5eac97fd09f

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mdarraji17@gmail.com
SMTP_PASS=yfqfd ebxt tqco zzzj

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:3000

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Server Configuration
PORT=3000
NODE_ENV=development
